version: "3"
services:
  postgresql:
    image: postgres:15.0
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: davao_parking
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
  adminer:
    image: adminer
    restart: always
    ports:
      - "8088:8080"